<h1>Текстовые блоки</h1>

<div class="module-content">
{% if items %}
    <div class="a-units" stormModel="Model_Textblock">
		{% for i in items %}
			<div class="a-unit">
			<div class="a-unit-body{{ i.enabled ? '' : 'disabled' }}" stormObject="{{ i.id }}">
				<div class="actions">
					<img title="Редактировать" class="edit" width="16" height="16" src="/static/i/admin/icons/16/pencil.png"/>
					<img title="Включить/Выключить" class="enabled" stormField="enabled" width="16" height="16" src="/static/i/admin/icons/16/lamp-{{ i.enabled ? 'on' : 'off' }}.png"/>
				</div>
				<h2 stormText="name">{{ i.name }}</h2>
				<p stormHtml="preview">{{ i.preview ? i.preview : '&nbsp;' }}</p>
			</div>
			</div>
		{% endfor %}
    </div>

    <form id="block-form" class="a-unit-form form-stacked">
        <h2 text="name">Имя блока</h2>
		<div class="clearfix">
		    <label>Текст</label>
		    <div class="input">
		        <textarea rich="yes" class="width-100 height-300" name="text"></textarea>
		    </div>
        </div>
		<div class="actions">
			<button class="submit btn primary">Сохранить</button>
			<button class="cancel btn">Отмена</button>
		</div>
    </form>
{% else %}
	<p>Ни одного текстового блока не найдено.</p>
{% endif %}
</div>

<script type="text/javascript">
	$( function() {
		$( '.enabled' ).click( function( e ) {
			Storm.toggle( Storm.buildPath( this ), Function.delegate( this, function ( data ) {
				if(data.enabled) {
					$( this ).parents('.a-unit-body:first').removeClass('disabled');
					$( this ).attr( 'src', '/static/i/admin/icons/16/lamp-on.png');
				}
				else {
					$( this ).parents('.a-unit-body:first').addClass('disabled');
					$( this ).attr( 'src', '/static/i/admin/icons/16/lamp-off.png' );
				}
			}));
		});

		$( '.edit' ).click( function( e ) {
			Object.create( Storm.Form ).extend( {
				object: Storm.buildPath( this ),
				form: $( '#block-form' ),
				item:	$( this ).parents( '.a-unit-body' ),
				onFillItem: function( item, data ) {
					item.find( 'img.enabled' ).attr( 'src', data.enabled ?
					'/static/i/admin/icons/16/lamp-on.png' :
					'/static/i/admin/icons/16/lamp-off.png' )
				}
			} ).start();
		} )
	} )
</script>
