<h1>Структура сайта</h1>

<div class="module-buttons">
    <button class="create-page btn btn-primary">Создать страницу</button>
</div>
<div class="module-content">
    <div class="createFormPlace"></div>

    <div class="a-units sortable" stormModel="Model_Page">
        {{ _self.pageitem(root, false) }}

        <ol id="pages">
            {% for item in items %}
            {{ _self.pageitem(item, true) }}
            {% endfor %}
        </ol>
    </div>
</div>

{% macro pageitem(item, full) %}
<li class="a-unit{{ item.enabled ? '' : ' disabled' }}" stormObject="{{ item.id }}" id="a-unit-{{ item.id }}">
    <div class="a-unit-body">
        <div class="actions btn-toolbar">
            <div class="btn-group">
                <a href="#" class="edit-item btn"><i class="icon-pencil"></i></a>
                <a href="#" class="enabled btn" stormField="enabled"><i class="icon-off"></i></a>
                <a href="#" class="menu btn" stormField="menu"><i class="{{ item.menu ? 'icon-eye-open' : 'icon-eye-close' }}"></i></a>
                <a href="#" class="delete btn"><i class="icon-trash"></i></a>
            </div>
        </div>

        <h2><a class="editlink" stormText="title" href="/admin/{{ item.module }}/{{ item.id }}">{{ item.title }}</a></h2>

        <p><a class="directlink" stormText="name" href="{{ item.uri }}">{{ item.name }}</a></p>
    </div>
    {% if full %}
    <ol>
        {% for child in item.getChildren() %}
        {{ _self.pageitem(child, full) }}
        {% endfor %}
    </ol>
    {% endif %}
</li>
{% endmacro %}

<form id="page-form" class="a-unit-form" method="post" enctype="multipart/form-data">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#1" data-toggle="tab">Основные поля</a></li>
            <li><a href="#2" data-toggle="tab">SEO-поля</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="1">
                    <label>Название страницы</label>
                    <input class="span7" type="text" name="title">

                    <label>Название по-английски</label>
                    <input class="span7" type="text" name="name"> <span class="help-inline">для адресной строки</span>

                    <div style="display: none">
                        <label>Тип страницы:</label>

                        <select name="type">
                            {% for type in types %}
                            <option value="{{ type.id }}">{{ type.title }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <label>Модуль:</label>
                    <select name="module" class="span7">
                        {% for module in modules %}
                        <option value="{{ module.name }}">{{ module.title }}</option>
                        {% endfor %}
                    </select>

                    <label>Текст страницы:</label>
                    <textarea name="text" rich="yes"></textarea>
            </div>
            <div class="tab-pane" id="2">
                    <label>Заголовок:</label>
                    <input class="span7" size="30" type="text" name="meta_title">
                    <span class="help-inline">Заголовок страницы</span>

                    <label>Ключевые слова:</label>
                    <textarea class="span7" name="meta_keywords" wrap="wrap"></textarea>
                <span class="help-inline">Ключевые слова стрницы, meta-тэг keywords</span>

                    <label>Описание:</label>
                    <textarea class="span7" name="meta_description" wrap="wrap"></textarea>
                    <span class="help-inline">Описание стрницы, meta-тэг description</span>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button class="submit btn btn-primary" type="submit">Сохранить</button>
        <button class="cancel btn" type="reset">Отмена</button>
    </div>
</form>

<li class="a-unit" id="page-template" style="display:none;">
    <div class="a-unit-body">
        <div class="actions btn-toolbar">
            <div class="btn-group">
                <a href="#" class="edit-item btn"><i class="icon-pencil"></i></a>
                <a href="#" class="enabled btn" stormField="enabled"><i class="icon-off"></i></a>
                <a href="#" class="menu btn" stormField="menu"><i class="icon-flag"></i></a>
                <a href="#" class="delete btn"><i class="icon-trash"></i></a>
            </div>
        </div>

        <h2><a class="editlink" href="" stormText="title"></a></h2>

        <p><a class="directlink" href="" stormText="name"></a></p>
    </div>
</li>

<script type="text/javascript">
    $(function () {
        $('.a-units').madoneUnits();

        $('#pages').nestedSortable(
            $.extend({
                stop:function (event, ui) {
                    Storm.reorder('Model_Page', { id: {{ root.id }}, children:$('#pages').nestedSortable('toHierarchy') });
                }
            }, Madone.nestedSortableOptions)
        );

        $('.a-units .menu').click(function (e) {
            Storm.toggle(Storm.buildPath(this), Function.delegate(this, function (data) {
                if (data.menu) {
                    $(this).find('i').addClass('icon-eye-open');
                    $(this).find('i').removeClass('icon-eye-close');
                }
                else {
                    $(this).find('i').removeClass('icon-eye-open');
                    $(this).find('i').addClass('icon-eye-close');
                }
            }));
        });

        var pageForm = Object.create(Storm.Form).extend({
            form:$('#page-form'),

            onFillItem:function (item, data) {
                item.attr('id', 'a-unit-' + data.id);
                item.find('.editlink').attr('href', "/admin/" + data.module + "/" + data.id);
                item.find('.directlink').attr('href', data.uri);
            }
        });

        // Новая страница
        $(".create-page").click(function (e) {
            Object.create(pageForm).extend({
                object:'Model_Page',
                formPlace:$('.createFormPlace'),
                item:$('#page-template'),
                itemPlace:$('#pages')
            }).start();
        });

        // Редактирование страницы
        $('.a-units .edit-item').bind('click', function (event) {
            Object.create(pageForm).extend({
                object:Storm.buildPath(this),
                item:$(this).parents('.a-unit-body')
            }).start();
        });
    });
</script>