<h1>Галерея</h1>

<div>
    <div class="gallery-dropzone">
        Перетащите файлы сюда
    </div>
    <form class="form-stacked upload">
        <div class="clearfix"><label>Выберите файлы для загрузки:</label>
            <input type="file" name="image" class="uploadify" multiple/>
            <span class="help-block">Можно выбрать сразу несколько файлов</span>
        </div>
    </form>
</div>

<div class="module-content">
    <ul class="media-grid" stormModel="Model_Galleryimage">
        {% for item in items %}
        <li id="{{ item.id }}" stormObject="{{ item.id }}">
            <span class="control">
                <a href="#" class="actions__button edit"></a><a href="#" class="actions__button delete"></a>
            </span>
        <a rel="gallery" class="original-link" href="{{ item.image.original.uri }}">
            <img class="thumbnail" src="{{ item.image.cms.uri }}" alt="">
        </a></li>
        {% endfor %}
    </ul>

    {{ paginator|raw }}
</div>
<li id="template" style="display: none;" stormObject="">
    <span class="control">
        <a href="#" class="actions__button edit"></a><a href="#" class="actions__button delete"></a>
    </span>
    <a class="original-link" href="">
        <img class="thumbnail" src="" alt="">
    </a>
</li>
<style type="text/css">
    .media-grid li {
        display: block;
        float: left;
        position: relative;
    }
    .media-grid li:hover .control {
        display: block;
    }
    .media-grid .control {
        position: absolute;
        display: none;
        margin: 6px 0 0 23px;
    }
    .media-grid .actions__button {
        background-color: #fff;
        margin: 0 0 0 6px;
    }
    .gallery-dropzone {
        float: right;
        width: 50%;
        height: 60px;
        border: 3px dashed #ccc;
        border-radius: 15px;
        color: #ccc;
        text-align: center;
        line-height: 60px;
    }
</style>
<script type="text/javascript">
    $(function () {
        Madone.units.init('.media-grid');
        $(".media-grid img").live('mousedown', function (event) {
            /* Google chrome img selection fix */
            event.preventDefault();
        });
        $(".media-grid").sortable({
            items:'li',
            handle:'a',
            appendTo:'.media-grid',
            helper:'clone',
            placeholder:'ui-sortable-placeholder',
            forcePlaceholderSize:true,
            stop:function (event, ui) {
                var objects = {};
                $.each($(".media-grid").sortable('toArray'), function (i, id) {
                    try {
                        objects[ parseInt(id) ] = { position:i + 1 };
                    } catch (e) {
                    }
                });

                $.post("/admin/Model_Galleryimage/update/", { objects:JSON.stringify(objects) }, function (r) {
                    if (!r.success) {
                        alert(r.message);
                    }
                }, 'json');
            }
        });

        $(".original-link").fancybox();

        var page_id = {{page.id}};
        $('.upload').fileupload({
            formData:[
                {name:"page", value:page_id }
            ],
            sequentialUploads:true,
            dropZone:$('.gallery-dropzone'),
            dataType:'json',
            url:Storm.getPath('Model_Galleryimage').getUri() + '/create/',
            done:function (e, data) {
                var item = $('#template').clone(true).attr('id', data.result.data.id).attr('stormObject', data.result.data.id);
                item.find('.original-link').attr('rel', 'gallery').attr('href', data.result.data.image.original.uri).find('img').attr('src', data.result.data.image.cms.uri);
                item.appendTo('.media-grid').show();
            }
        }).bind('fileuploaddragover', function (e) {
            $('.gallery-dropzone').css('border-color', '#fce7be');
        }).bind('fileuploaddrop', function (e) {
            $('.gallery-dropzone').css('border-color', '#ccc');
        });
        $('.gallery-dropzone').bind('mouseout', function(event){
            $('.gallery-dropzone').css('border-color', '#ccc');
        });
    });
</script>