{% import 'macros.twig' as common %}

<h1>Новости</h1>

<div class="module-buttons">
    <button class="create-unit btn primary">Добавить новость</button>
</div>

<div class="module-content">
    <div class="createFormPlace"></div>

    <div class="a-units" stormModel="Model_News">
        {% for item in items %}
        <div class="a-unit{{ item.enabled ? '' : ' disabled' }}" stormObject="{{ item.id }}">
            <div class="a-unit-body">
                <div class="actions">
                    <img title="Редактировать" class="actions__button edit" src="/static/i/admin/1x1.gif"/>
                    <img title="Включить/Выключить" class="actions__button enabled{{ item.enabled ? '' : ' enabled_off' }}" stormField="enabled" src="/static/i/admin/1x1.gif"/>
                    <img title="Удалить" class="actions__button delete" src="/static/i/admin/1x1.gif"/>
                </div>
                <h2 stormText="title">{{ item.title }}</h2>
                <p stormText="date">{{ item.date }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {{ paginator|raw }}
</div>

<form id="news-form" class="a-unit-form form-stacked" method="post" enctype="multipart/form-data">
    <div class="clearfix">
        <label>Заголовок новости:</label>

        <div class="input">
            <input class="span11" type="text" name="title"/>
        </div>
    </div>
    <div class="clearfix">
        <label>Дата публикации:</label>

        <div class="input">
            <input datepicker="yes" class="width-100" type="text" name="date"/>
        </div>
    </div>
    <div class="clearfix">
        <label>Анонс:</label>

        <div class="input">
            <textarea rich="no" class="span11" name="announce"></textarea>
        </div>
    </div>
    <div class="clearfix">
        <label>Текст новости:</label>

        <div class="input">
            <textarea rich="yes" class="width-100 height-300" name="text"></textarea>
        </div>
    </div>
    <div class="actions">
        <button class="submit btn primary" type="submit">Сохранить</button>
        <button class="cancel btn" type="reset">Отмена</button>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $('.a-units').madoneUnits();

        var newsForm = Object.create(Storm.Form).extend({
            form:$('#news-form'),
            onSubmit:function (form, data, result) {
                if (this.mode === 'create' || this.loadedData.date != result.date) {
                    location.reload();
                }
            },
            onFetchData:function (form, data) {
                data.page = {{ page.id }};
            }
        });

        $('.create-unit').click(function (e) {
            Object.create(newsForm).extend({
                object:'Model_News',
                formPlace:$('.createFormPlace')
            }).start();
        });

        $('.edit').click(function (e) {
            Object.create(newsForm).extend({
                object:Storm.buildPath(this),
                item:$(this).parents('.a-unit-body')
            }).start();
        })
    })
</script>